@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans:300,400');

body, html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
}

p {
  margin-top: 1rem;
}

a {
  color:#5bc0de;
}

a:hover {
  color: #31b0d5;
  text-decoration: none;
}

#hm {
  min-height: 50%;
}

.heading {
  color: #FFF;
  left: 0;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}

.middle {
  color: #FFF;
  left: 0;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
}

.bg-img1 {
  min-height:85%;
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/45723ed3-3255-4b14-85cd-bd5b95760d1a/d1ti5lx-a4200c9e-06e3-4bf6-8f11-e5d4b4364333.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQ1NzIzZWQzLTMyNTUtNGIxNC04NWNkLWJkNWI5NTc2MGQxYVwvZDF0aTVseC1hNDIwMGM5ZS0wNmUzLTRiZjYtOGYxMS1lNWQ0YjQzNjQzMzMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.RYsbwg2waISQJw_MUp6s76bavIc7iDj2bUyc89MJ2u0');
}

.bg-img2 {
  min-height:65%;
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('https://wallpaperaccess.com/full/4608478.jpg');
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 850px;
}

.card {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.card-text {
  font-size: 1rem;
  font-weight: 300;
}

.btn-dark {
  background-color: black;
  color: white;
}
.blockquote{
  font-size 18px;
}
@media only screen and (max-device-width: 1024px) {
  .parallax {background-attachment: scroll;}
  .heading {top: 30%;} 
  .middle {top: 15%;}
}
